* {box-sizing: border-box; }
header {
    text-align: center;
    max-height: 100px;
}
body {
    margin:0;
}
h1 {
    margin-left: 1rem;
    max-height: 100%;
    min-height: 100%;
}
.main-nav .nav-button {
    position:fixed;
    font-size: 3rem;
    top: 2rem;
    right: 2.6rem;
    cursor:pointer;
    color: dimgrey;
}
.main-nav ul {
    float: right;
    margin: 10px;
    padding: 0;
    height: 40px;
    display: flex;
    font-family: sans-serif;
    margin-right: 50px;
}
.main-nav a {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    display: flex;
    color: grey;
    float: right;
    margin-top: 40px;
}
.main-nav a:hover, .main-nav a:focus {
    background: #ccc;
    color: dodgerblue;
}
@media screen and (min-width: 800px) {
    .img-logo {
        display: flex;
        float: left;
    }
    .description {
        font-size: 1.1rem;
        padding-left: 20%;
        padding-right: 20%;
    }
    .why-choose {
        font-family: 'Bebas Neue', cursive;
        font-size: 27pt;
        text-align: center;
        font-weight: bold;
        color: dimgrey;
    }
    .main-nav .nav-button {
        display:none;
        padding: 0;
    }
}
@media screen and (max-width: 800px) {
    .description {
        padding-left: 20%;
        padding-right: 20%;
        font-size: 1.1rem;
    }
    .why-choose {
        font-family: 'Bebas Neue', cursive;
        font-size: 27pt;
        margin: 30px;
        font-weight: bold;
        color: dimgrey;
        text-align: center;
    }
    .flex div {width:100%}
    .img-logo {margin-bottom: 0px;}
    .main-nav a {
        display: flex;
        margin-top: -10px;
        padding: 15px;
    }
    .main-nav {
        margin-left: 5%;
        margin-right: 5%;
    }
}
    /* Home image css start */
ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -37px;
    margin-right: 3px;
}
li {
    height: 40vh;
    width: auto;
    flex-grow: 1;
}
li last-child {
    flex-grow: 10;
}
.flex {
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li img { 
    max-height: 100%;
    min-width: 100%;
    object-fit:cover;
    vertical-align: bottom;
    padding: 3px;
}
    /* Home image css end */

    /* Slideshow "content" css start */
/*
#slideshow {
  margin: 10px auto;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0px;
}
#slideshow img {
    width: 100%;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
*/
    /* Slideshow "content" css end */

    /*css for Contact Page*/
.description {
    margin: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 12pt;
    color: grey;
}
.img-logo {
    max-height: 120px;
    min-height: 100px;
}
.p1 {
    text-align: center;
    font-size: 1.8rem;
    padding: .95rem;
    width: 100%;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    margin: auto;
    background-color: dodgerblue;
}
form {
    padding-left: 1em;
    padding-right: 1rem;
    padding-top: 3rem;
    font-family: sans-serif;
    color: grey;
}
form div {
    padding-bottom: .25rem;
}
form div span.formText {
    display: block;
    width: 100px;
}
form div textarea {
    width: 100%;
    height: 5rem;
}
input {
    color: dimgrey;
}
.p1 {
    padding-left: 1em;
    padding-bottom: .5em;
    font-weight: bold;
}
    /*end of css for Contact Page*/
footer {
    flex-shrink: 0;
    height: 50px;
    margin-top: 50px;
    background-color: dodgerblue;
    padding-top: 30px;
}
footer div {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: 300;
    background-color: dodgerblue;
}
footer p {
    font-size: 10pt;
    margin: 5px;
    
}